In [1]:
import pandas as pd

In [2]:
dataset = pd.read_csv("brain_size.csv", sep=';', na_values=".")
dataset.head()

   Unnamed: 0  Gender  FSIQ  VIQ  PIQ  Weight  Height  MRI_Count
0           1  Female   133  132  124   118.0    64.5     816932
1           2    Male   140  150  124     NaN    72.5    1001121
2           3    Male   139  123  150   143.0    73.3    1038437
3           4    Male   133  129  128   172.0    68.8     965353
4           5  Female   137  132  134   147.0    65.0     951545

In [4]:
dataset = pd.read_csv("brain_size.csv", sep=';', na_values=".")
dataset.describe

<bound method NDFrame.describe of     Unnamed: 0  Gender  FSIQ  VIQ  PIQ  Weight  Height  MRI_Count
0            1  Female   133  132  124   118.0    64.5     816932
1            2    Male   140  150  124     NaN    72.5    1001121
2            3    Male   139  123  150   143.0    73.3    1038437
3            4    Male   133  129  128   172.0    68.8     965353
4            5  Female   137  132  134   147.0    65.0     951545
5            6  Female    99   90  110   146.0    69.0     928799
6            7  Female   138  136  131   138.0    64.5     991305
7            8  Female    92   90   98   175.0    66.0     854258
8            9    Male    89   93   84   134.0    66.3     904858
9           10    Male   133  114  147   172.0    68.8     955466
10          11  Female   132  129  124   118.0    64.5     833868
11          12    Male   141  150  128   151.0    70.0    1079549
12          13    Male   135  129  124   155.0    69.0     924059
13          14  Female   140  120  147   155.0    70.5     856472
14          15  Female    96  100   90   146.0    66.0     878897
15          16  Female    83   71   96   135.0    68.0     865363
16          17  Female   132  132  120   127.0    68.5     852244
17          18    Male   100   96  102   178.0    73.5     945088
18          19  Female   101  112   84   136.0    66.3     808020
19          20    Male    80   77   86   180.0    70.0     889083
20          21    Male    83   83   86     NaN     NaN     892420
21          22    Male    97  107   84   186.0    76.5     905940
22          23  Female   135  129  134   122.0    62.0     790619
23          24    Male   139  145  128   132.0    68.0     955003
24          25  Female    91   86  102   114.0    63.0     831772
25          26    Male   141  145  131   171.0    72.0     935494
26          27  Female    85   90   84   140.0    68.0     798612
27          28    Male   103   96  110   187.0    77.0    1062462
28          29  Female    77   83   72   106.0    63.0     793549
29          30  Female   130  126  124   159.0    66.5     866662
30          31  Female   133  126  132   127.0    62.5     857782
31          32    Male   144  145  137   191.0    67.0     949589
32          33    Male   103   96  110   192.0    75.5     997925
33          34    Male    90   96   86   181.0    69.0     879987
34          35  Female    83   90   81   143.0    66.5     834344
35          36  Female   133  129  128   153.0    66.5     948066
36          37    Male   140  150  124   144.0    70.5     949395
37          38  Female    88   86   94   139.0    64.5     893983
38          39    Male    81   90   74   148.0    74.0     930016
39          40    Male    89   91   89   179.0    75.5     935863>

In [8]:
import pandas as pd
dataset = pd.read_csv("brain_size.csv", sep=';', na_values=".")
#specify the needed columns
dataset[["FSIQ", "VIQ", "Weight", "Height", "MRI_Count"]].describe()

             FSIQ         VIQ      Weight     Height     MRI_Count
count   40.000000   40.000000   38.000000  39.000000  4.000000e+01
mean   113.450000  112.350000  151.052632  68.525641  9.087550e+05
std     24.082071   23.616107   23.478509   3.994649  7.228205e+04
min     77.000000   71.000000  106.000000  62.000000  7.906190e+05
25%     89.750000   90.000000  135.250000  66.000000  8.559185e+05
50%    116.500000  113.000000  146.500000  68.000000  9.053990e+05
75%    135.500000  129.750000  172.000000  70.500000  9.500780e+05
max    144.000000  150.000000  192.000000  77.000000  1.079549e+06

In [10]:
#choosing descriptive statistics of specific columnswhere gender = female
import pandas as pd
dataset = pd.read_csv("brain_size.csv", sep=';', na_values=".")
dataset[dataset['Gender'] == 'Female'][["FSIQ", "VIQ"]].describe()

             FSIQ         VIQ
count   20.000000   20.000000
mean   111.900000  109.450000
std     23.686327   21.670924
min     77.000000   71.000000
25%     90.250000   90.000000
50%    115.500000  116.000000
75%    133.000000  129.000000
max    140.000000  136.000000

In [11]:
#choosing descriptive statistics for Male and Female
import pandas as pd
dataset = pd.read_csv("brain_size.csv", sep=';', na_values=".")
groupby_gender = dataset.groupby("Gender")
groupby_gender.describe()

       Unnamed: 0                                                   FSIQ  \
            count   mean        std  min    25%   50%    75%   max count
Gender
Female       20.0  19.65  11.356774  1.0  10.25  18.0  29.25  38.0  20.0
Male         20.0  21.35  12.248630  2.0  11.50  21.5  32.25  40.0  20.0

               ...  Height       MRI_Count                                   \
         mean  ...     75%   max     count      mean          std       min
Gender         ...
Female  111.9  ...  66.875  70.5      20.0  862654.6  55893.55578  790619.0
Male    115.0  ...  73.750  77.0      20.0  954855.4  55911.35471  879987.0


              25%       50%       75%        max
Gender
Female  828062.00  855365.0  882668.5   991305.0
Male    919529.25  947241.5  973496.0  1079549.0

[2 rows x 56 columns]

In [14]:
#Change horizontal to vertical display.
import pandas as pd
dataset = pd.read_csv("brain_size.csv", sep=';', na_values=".")
groupby_gender = dataset.groupby("Gender")
df1 = groupby_gender.describe()
df1_transposed = df1.T
df1_transposed

Gender                   Female          Male
Unnamed: 0 count      20.000000  2.000000e+01
           mean       19.650000  2.135000e+01
           std        11.356774  1.224863e+01
           min         1.000000  2.000000e+00
           25%        10.250000  1.150000e+01
           50%        18.000000  2.150000e+01
           75%        29.250000  3.225000e+01
           max        38.000000  4.000000e+01
FSIQ       count      20.000000  2.000000e+01
           mean      111.900000  1.150000e+02
           std        23.686327  2.498631e+01
           min        77.000000  8.000000e+01
           25%        90.250000  8.975000e+01
           50%       115.500000  1.180000e+02
           75%       133.000000  1.392500e+02
           max       140.000000  1.440000e+02
VIQ        count      20.000000  2.000000e+01
           mean      109.450000  1.152500e+02
           std        21.670924  2.564099e+01
           min        71.000000  7.700000e+01
           25%        90.000000  9.525000e+01
           50%       116.000000  1.105000e+02
           75%       129.000000  1.450000e+02
           max       136.000000  1.500000e+02
PIQ        count      20.000000  2.000000e+01
           mean      110.450000  1.116000e+02
           std        21.946046  2.354033e+01
           min        72.000000  7.400000e+01
           25%        93.000000  8.600000e+01
           50%       115.000000  1.170000e+02
           75%       128.750000  1.280000e+02
           max       147.000000  1.500000e+02
Weight     count      20.000000  1.800000e+01
           mean      137.200000  1.664444e+02
           std        16.953807  2.004766e+01
           min       106.000000  1.320000e+02
           25%       125.750000  1.487500e+02
           50%       138.500000  1.720000e+02
           75%       146.250000  1.807500e+02
           max       175.000000  1.920000e+02
Height     count      20.000000  1.900000e+01
           mean       65.765000  7.143158e+01
           std         2.288248  3.283131e+00
           min        62.000000  6.630000e+01
           25%        64.500000  6.890000e+01
           50%        66.000000  7.050000e+01
           75%        66.875000  7.375000e+01
           max        70.500000  7.700000e+01
MRI_Count  count      20.000000  2.000000e+01
           mean   862654.600000  9.548554e+05
           std     55893.555780  5.591135e+04
           min    790619.000000  8.799870e+05
           25%    828062.000000  9.195292e+05
           50%    855365.000000  9.472415e+05
           75%    882668.500000  9.734960e+05
           max    991305.000000  1.079549e+06