In [45]:
import datetime as dtime
from datetime import datetime
from datetime import timedelta
import time
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

Time stamps for particular points in the time line (e.g., July 4th, 2015 at 7:00am)
Time interval or period consists of uniform length and does not overlap  (e.g. year 1975)
Time deltas or duration is the exact length of time which is equal to the difference between start and end points  (e.g. a duration of a second, minute, hour, day, week, month, year, decade, millennium)

The `strftime()` function is a method in Python's `datetime` module that stands for "string format time." It's used to format `datetime` objects into human-readable strings. This function takes a format string as an argument, specifying how the date and time should be represented, and returns a formatted string.

Here's a basic example:

```python
from datetime import datetime

# Get the current date and time
current_datetime = datetime.now()

# Format the datetime object using strftime
formatted_string = current_datetime.strftime("%Y-%m-%d %H:%M:%S")

print("Formatted String:", formatted_string)
```

In this example, the format string `"%Y-%m-%d %H:%M:%S"` is used to represent the datetime as "Year-Month-Day Hour:Minute:Second." You can customize the format string according to your requirements using various format codes, such as `%Y` for the year, `%m` for the month, `%d` for the day, `%H` for the hour, `%M` for the minute, and `%S` for the second.

Here are some common format codes:

- `%Y`: Year with century as a decimal number.
- `%m`: Month as a zero-padded decimal number.
- `%d`: Day of the month as a zero-padded decimal number.
- `%H`: Hour (00 to 23).
- `%M`: Minute (00 to 59).
- `%S`: Second (00 to 59).

The `strftime()` function is particularly useful when you need to display or log dates and times in a specific human-readable format.

In [6]:
#Different date and time formats
#Use datetime
ts = dtime.datetime.now()
print(ts.strftime("%Y-%m-%d %H:%M:%S"))
print(ts.strftime("%x %X"))
 
#ISO format for datetime libraries
print(ts.strftime("%c"))
 
# Unix timestamp
print("Unix Timestamp 1 ",(time.mktime(ts.timetuple())))
 
# Get Unix timestamp from a datetime object
datetime_unix_time = ts.timestamp()
print('Datetime as unix 2:', datetime_unix_time)
 
# Convert Unix timestamp to datetime object
timestamp = dtime.datetime.fromtimestamp(datetime_unix_time)
print('DateTime from Unix timestamp 3: ', timestamp)

#================================================
#Use time 
#for greenwich meridian time
ts1 = time.gmtime()
print("\n")
print(time.strftime("%Y-%m-%d %H:%M:%S", ts1))
print(time.strftime("%x %X", ts1))
 
# Iso Format for time libraries
print(time.strftime("%c", ts1))

2023-11-25 12:06:51
11/25/23 12:06:51
Sat Nov 25 12:06:51 2023
Unix Timestamp 1  1700914011.0
Datetime as unix 2: 1700914011.693862
DateTime from Unix timestamp 3:  2023-11-25 12:06:51.693862


2023-11-25 12:06:51
11/25/23 12:06:51
Sat Nov 25 12:06:51 2023

The following code obtains current day, date and time dsiplay. This is useful for real time sensor data.

In [7]:
now = dtime.datetime.now()
print("Current day is ", now.strftime("%A"))
print("It is Day number ", now.strftime("%w"), " of the week")
print("Current date is ", now.strftime("%d/%m/%Y"))
print("Another format for current date is ", now.strftime("%d-%B-%Y"))
print("Current time in 24-hour format is ", now.strftime("%H:%M:%S"))

Current day is  Saturday
It is Day number  6  of the week
Current date is  25/11/2023
Another format for current date is  25-November-2023
Current time in 24-hour format is  12:06:54

In [8]:
now = dtime.datetime.now()

#ctime is current time
ctime = now.strftime("%H:%M:%S")
mNight = "00:00:00"
mtime1 = "00:00:01"
mtime2 = "11:59:59"
ntime = "12:00:00"
aftime1 = "12:00:01"
aftime2 = "18:00:00"
etime1 = "18:00:01"
etime2 = "23:59:59"

#Time of the day
if ctime == mNight:
    print("It is midnight now")
else:
    print("It is not midnight now")
    if ctime >= mtime1 and ctime <=mtime2:
        print("It is morning now")
    else:
        print("It is not morning now")
        if ctime == ntime:
            print("It is noon now")
        else:
            print("It is not noon now")
            if ctime >= aftime1 and ctime <=aftime2:
                print("It is afternoon now")
            else:
                print("It is not afternoon now")
                if ctime >= etime1 and ctime <=etime2:
                    print("It is evening now")
                else:
                    print("It is not evening now")

It is not midnight now
It is not morning now
It is not noon now
It is afternoon now

In [9]:
#Find your current age
# Figure out your age
# https://gist.github.com/shahri23/1804a3acb7ffb58a1ec8f1eda304af1a 
currentDate = dtime.datetime.now()

birthdate = input('Please enter your date of birth (dd/mm/yyyy) ')
bdate= dtime.datetime.strptime(birthdate,'%d/%m/%Y') #strptime - string to datetime object
print (bdate)
daysLeft = currentDate - bdate
print(daysLeft)

#Average number of days per year is 365.242 days
years = ((daysLeft.total_seconds())/(365.242*24*3600))
yearsInt=int(years)

months=(years-yearsInt)*12
monthsInt=int(months)

days=(months-monthsInt)*(365.242/12)
daysInt=int(days)

hours = (days-daysInt)*24
hoursInt=int(hours)

minutes = (hours-hoursInt)*60
minutesInt=int(minutes)

seconds = (minutes-minutesInt)*60
secondsInt =int(seconds)

#0:d - the first argument in the tuple and in decimal format, i.e. yearsInt, etc...
print('You are {0:d} years, {1:d}  months, {2:d}  days, {3:d}  hours, {4:d}  minutes, {5:d} seconds old.'.format(yearsInt, monthsInt, daysInt, hoursInt, minutesInt, secondsInt))

Please enter your date of birth (dd/mm/yyyy)  31/03/1995

1995-03-31 00:00:00
10466 days, 14:43:10.261679
You are 28 years, 7  months, 26  days, 18  hours, 42  minutes, 27 seconds old.

A timedelta object represents a duration, the difference between two dates or times. The difference between timedelta and relativedelta (next section) is that time delta does not include the arguments for months and years.

In [11]:
#Time delta

#Minus 1 second from current datetime using `timedelta`
ctime = dtime.datetime.now()
ptime1 = ctime - timedelta(hours=0, minutes=0, seconds=1, microseconds=0)
print('Minus 1 second from current datetime ')
print(ctime)
print(ptime1)
print("\n")
 
#Minus 1 minute from current datetime using `timedelta`
ptime2 = ctime - timedelta(hours=0, minutes=1, seconds=0, microseconds=0)
print('Minus 1 minute from current datetime ')
print(ctime)
print(ptime2)
print("\n")
 
#Minus 1 hour from current datetime using `timedelta`
ptime3 = ctime - timedelta(hours=1, minutes=0, seconds=0, microseconds=0)
print('Minus 1 hour from current datetime ')
print(ctime)
print(ptime3)
print("\n")
 
#Minus 1 day from current datetime using `timedelta`
ptime4 = ctime - timedelta(days=1, hours=0, minutes=0, seconds=0, microseconds=0)
print('Minus 1 day from current datetime ')
print(ctime)
print(ptime4)
print("\n")
 
 
#Minus 22 days from current datetime using `timedelta`
ptime9 = ctime - timedelta(days=22, hours=0, minutes=0, seconds=0, microseconds=0)
print('Minus 22 days from current datetime ')
print(ctime)
print(ptime9)
print("\n")
 
 
#Minus 1 week from current datetime using `timedelta`
ptime5 = ctime - timedelta(weeks=1, days=0, hours=0, minutes=0, seconds=0, microseconds=0)
print('Minus 1 week from current datetime ')
print(ctime)
print(ptime5)
print("\n")
 
 
#Minus 1 month from current datetime using `timedelta`
#Note there is no argument for months
 
#Minus 1 year from current datetime using `timedelta`
#Note there is no argument for years

Minus 1 second from current datetime
2023-11-25 15:45:11.517563
2023-11-25 15:45:10.517563


Minus 1 minute from current datetime
2023-11-25 15:45:11.517563
2023-11-25 15:44:11.517563


Minus 1 hour from current datetime
2023-11-25 15:45:11.517563
2023-11-25 14:45:11.517563


Minus 1 day from current datetime
2023-11-25 15:45:11.517563
2023-11-24 15:45:11.517563


Minus 22 days from current datetime
2023-11-25 15:45:11.517563
2023-11-03 15:45:11.517563


Minus 1 week from current datetime
2023-11-25 15:45:11.517563
2023-11-18 15:45:11.517563

The relativedelta and timedelta are both useful for date arithmetic, however, the relativedelta is more flexible and supports a wider range of date computations
including months and years.

In [13]:
#Relative delta
# https://dateutil.readthedocs.io/en/stable/relativedelta.html 
#https://docs.python.org/3.3/library/datetime.html#timedelta-objects 

import datetime as dtime
from dateutil.relativedelta import *


#Add 1 second to current datetime using `relativedelta`
ctime = dtime.datetime.now()
ftime1 = ctime + relativedelta(hours=0, minutes=0, seconds=1, microseconds=0)
print('Add 1 second to current datetime ')
print(ctime)
print(ftime1)
print("\n")

#Add 1 minute to current datetime using `relativedelta`
ftime2 = ctime + relativedelta(hours=0, minutes=1, seconds=0, microseconds=0)
print('Add 1 minute to current datetime ')
print(ctime)
print(ftime2)
print("\n")

#Add 1 hour to current datetime using `relativedelta`
ftime3 = ctime + relativedelta(hours=1, minutes=0, seconds=0, microseconds=0)
print('Add 1 hour to current datetime ')
print(ctime)
print(ftime3)
print("\n")

#Add 1 day to current datetime using `relativedelta`
ftime4 = ctime + relativedelta(days=1, hours=0, minutes=0, seconds=0, microseconds=0)
print('Add 1 day to current datetime ')
print(ctime)
print(ftime4)
print("\n")

#Add 1 week to current datetime using `relativedelta`
ftime5 = ctime + relativedelta(weeks=1, days=0, hours=0, minutes=0, seconds=0, microseconds=0)
print('Add 1 week to current datetime ')
print(ctime)
print(ftime5)
print("\n")


#Add 1 month to current datetime using `relativedelta`
ftime6 = ctime + relativedelta(months=1, weeks=0, days=0, hours=0, minutes=0, seconds=0, microseconds=0)
print('Add 1 month to current datetime ')
print(ctime)
print(ftime6)
print("\n")

#Add 1 year to current datetime using `relativedelta`
ftime7 = ctime + relativedelta(years=1, months=0, weeks=0, days=0, hours=0, minutes=0, seconds=0, microseconds=0)
print('Add 1 year to current datetime ')
print(ctime)
print(ftime7)
print("\n")

Add 1 second to current datetime
2023-11-25 17:18:59.118890
2023-11-25 17:19:00.118890


Add 1 minute to current datetime
2023-11-25 17:18:59.118890
2023-11-25 17:19:59.118890


Add 1 hour to current datetime
2023-11-25 17:18:59.118890
2023-11-25 18:18:59.118890


Add 1 day to current datetime
2023-11-25 17:18:59.118890
2023-11-26 17:18:59.118890


Add 1 week to current datetime
2023-11-25 17:18:59.118890
2023-12-02 17:18:59.118890


Add 1 month to current datetime
2023-11-25 17:18:59.118890
2023-12-25 17:18:59.118890


Add 1 year to current datetime
2023-11-25 17:18:59.118890
2024-11-25 17:18:59.118890

In [14]:
#Relative delta
# https://dateutil.readthedocs.io/en/stable/relativedelta.html 
#https://docs.python.org/3.3/library/datetime.html#timedelta-objects 

import datetime as dtime
from dateutil.relativedelta import *


#Minus 1 second from current datetime using `relativedelta`
ctime = dtime.datetime.now()
ptime1 = ctime - relativedelta(hours=0, minutes=0, seconds=1, microseconds=0)
print('Minus 1 second from current datetime ')
print(ctime)
print(ptime1)
print("\n")

#Minus 1 minute from current datetime using `relativedelta`
ptime2 = ctime - relativedelta(hours=0, minutes=1, seconds=0, microseconds=0)
print('Minus 1 minute from current datetime ')
print(ctime)
print(ptime2)
print("\n")

#Minus 1 hour from current datetime using `relativedelta`
ptime3 = ctime - relativedelta(hours=1, minutes=0, seconds=0, microseconds=0)
print('Minus 1 hour from current datetime ')
print(ctime)
print(ptime3)
print("\n")

#Minus 1 day from current datetime using `relativedelta`
ptime4 = ctime - relativedelta(days=1, hours=0, minutes=0, seconds=0, microseconds=0)
print('Minus 1 day from current datetime ')
print(ctime)
print(ptime4)
print("\n")


#Minus 22 days from current datetime using `relativedelta`
ptime9 = ctime - relativedelta(days=22, hours=0, minutes=0, seconds=0, microseconds=0)
print('Minus 22 days from current datetime ')
print(ctime)
print(ptime9)
print("\n")


#Minus 1 week from current datetime using `relativedelta`
ptime5 = ctime - relativedelta(weeks=1, days=0, hours=0, minutes=0, seconds=0, microseconds=0)
print('Minus 1 week from current datetime ')
print(ctime)
print(ptime5)
print("\n")


#Minus 1 month from current datetime using `relativedelta`
ptime6 = ctime - relativedelta(months=1, weeks=0, days=0, hours=0, minutes=0, seconds=0, microseconds=0)
print('Minus 1 month from current datetime ')
print(ctime)
print(ptime6)
print("\n")

#Minus 1 year from current datetime using `relativedelta`
ptime7 = ctime + relativedelta(years=1, months=0, weeks=0, days=0, hours=0, minutes=0, seconds=0, microseconds=0)
print('Minus 1 year from current datetime ')
print(ctime)
print(ptime7)
print("\n")

Minus 1 second from current datetime
2023-11-25 17:32:19.617752
2023-11-25 17:32:18.617752


Minus 1 minute from current datetime
2023-11-25 17:32:19.617752
2023-11-25 17:31:19.617752


Minus 1 hour from current datetime
2023-11-25 17:32:19.617752
2023-11-25 16:32:19.617752


Minus 1 day from current datetime
2023-11-25 17:32:19.617752
2023-11-24 17:32:19.617752


Minus 22 days from current datetime
2023-11-25 17:32:19.617752
2023-11-03 17:32:19.617752


Minus 1 week from current datetime
2023-11-25 17:32:19.617752
2023-11-18 17:32:19.617752


Minus 1 month from current datetime
2023-11-25 17:32:19.617752
2023-10-25 17:32:19.617752


Minus 1 year from current datetime
2023-11-25 17:32:19.617752
2024-11-25 17:32:19.617752

In [15]:
#Dates and times in pandas
date = "4th of September, 2025"
dTime = pd.to_datetime(date)
print(dTime)
print("\n")

2025-09-04 00:00:00

In [16]:
#Dates and times in pandas
#Extract components of a datetime data structure
 
import pandas as pd
import datetime as dtime
from dateutil import parser
import calendar
 
Adate = "4th of September, 2025"
daTime = pd.to_datetime(date)
print(daTime)
print("\n")
 
#Split date to its components
date2 = parser.parse(Adate)
print(date2)
print("\n")

2025-09-04 00:00:00


2025-09-04 00:00:00

In [18]:
#Extract the year, month and day from currenttime object
ctime = dtime.datetime.now()
date3 = ctime.strftime("%Y-%m-%d")
print("Today's date is: ", date3)
 
#Get Year from Current Date
print("Today's year is: ", ctime.year)
 
#Get Month from Current Date
print("Today's month is: ", ctime.month)
 
#Get Day from Current Date
print("Today's day is: ", ctime.day)
print("\n")

#Extract the year, month and day from currenttime object
ctime = dtime.datetime.now()
date3 = ctime.strftime("%Y-%m-%d")
print("Today's date is: ", date3)
 
#Get Year from Current Date
print("Today's year is: ", ctime.year)
 
#Get Month from Current Date
print("Today's month is: ", ctime.month)
 
#Get Day from Current Date
print("Today's day is: ", ctime.day)
print("\n")

#============================================================
 
#Extract the year, month and day from a chosen time object
my_string = "2022-05-23 12:23:34"
 
#Create a date object
my_date = dtime.datetime.strptime(my_string, "%Y-%m-%d %H:%M:%S")
print("My chosen date is: ", my_date)
 
#Get Year from a chosen Date
print("My chosen year is: ", my_date.year)
 
#Get Month from a chosen Date
print("My chosen month is: ", my_date.month)
 
#Get Day from a chosen Date
print("My chosen day is: ", my_date.day)
 
#Get hour from a chosen Date
print("My chosen hour of the time is: ", my_date.hour)
 
#Get minute from a chosen Date
print("My chosen minute of the time is: ", my_date.minute)
 
#Get second from a chosen Date
print("My chosen second of the time is: ", my_date.second)

Today's date is:  2023-11-26
Today's year is:  2023
Today's month is:  11
Today's day is:  26


Today's date is:  2023-11-26
Today's year is:  2023
Today's month is:  11
Today's day is:  26


My chosen date is:  2022-05-23 12:23:34
My chosen year is:  2022
My chosen month is:  5
My chosen day is:  23
My chosen hour of the time is:  12
My chosen minute of the time is:  23
My chosen second of the time is:  34

One of the most powerful and convenient features of pandas time series is time-based indexing — using dates and times to intuitively organise and access our data.
Sure, let's break it down in a simple way:

Time-based indexing is like organizing your data in a diary with dates. Imagine you have a diary where you write something every day. The dates in your diary are like the index. When you want to find what you wrote on a specific day, you just look at that date in your diary.

In a similar way, time-based indexing in data is like putting dates on each piece of information. It helps you easily find, analyze, and understand your data based on time. For example, you might have data for every day, and with time-based indexing, you can quickly see what happened on a particular day or analyze trends over time.

It's like having a timeline for your data, making it easy to work with anything related to time, such as finding information for a specific date or seeing how things change over days, months, or years.

In [30]:
#Pandas Time Series Indexed by Time
#Use pandas to convert all different inputs to datetime format
dti = pd.to_datetime(['1/1/2018', np.datetime64('2018-01-01'),
                        datetime(2018, 1, 1)])
print(dti)
print("\n")
 
#Generate sequences of fixed-frequency dates and time spans, H is hour (10 hours)
dti_2 = pd.date_range('2018-01-01', periods=10, freq='H')
print(dti_2)
print("\n")
 
 
# Resampling or converting a time series to a particular frequency with index
dti_2 = pd.date_range('2018-01-01', periods=10, freq='H')
tseries = pd.Series(range(len(dti_2)), index = dti_2)
print(tseries)
print("\n")
 
 
#Resample the time series to 2 hourly and find the mean
tseries.resample('2H').mean()

DatetimeIndex(['2018-01-01', '2018-01-01', '2018-01-01'], dtype='datetime64[ns]', freq=None)


DatetimeIndex(['2018-01-01 00:00:00', '2018-01-01 01:00:00',
               '2018-01-01 02:00:00', '2018-01-01 03:00:00',
               '2018-01-01 04:00:00', '2018-01-01 05:00:00',
               '2018-01-01 06:00:00', '2018-01-01 07:00:00',
               '2018-01-01 08:00:00', '2018-01-01 09:00:00'],
              dtype='datetime64[ns]', freq='H')


2018-01-01 00:00:00    0
2018-01-01 01:00:00    1
2018-01-01 02:00:00    2
2018-01-01 03:00:00    3
2018-01-01 04:00:00    4
2018-01-01 05:00:00    5
2018-01-01 06:00:00    6
2018-01-01 07:00:00    7
2018-01-01 08:00:00    8
2018-01-01 09:00:00    9
Freq: H, dtype: int64

2018-01-01 00:00:00    0.5
2018-01-01 02:00:00    2.5
2018-01-01 04:00:00    4.5
2018-01-01 06:00:00    6.5
2018-01-01 08:00:00    8.5
Freq: 2H, dtype: float64

In [31]:
#Represent time component in the index of a Series or dataframe so that manipulations can be performed with respect 
#to the time element
import datetime
import pandas as pd
 
#D is day
tseries1 = pd.Series(pd.date_range('2020', freq='D', periods=40))
print(tseries1)
print("\n")
 
#M is month
tseries2 = pd.Series(pd.period_range('1/1/2011', freq='M', periods=10))
print(tseries2)
print("\n")
 
#M is month
#When passed into those constructors. 
#DateOffset data however will be stored as object data.
tseries3 = pd.Series([pd.DateOffset(1), pd.DateOffset(2)])
print(tseries3)
print("\n")
 
tseries4 = pd.Series(pd.date_range('1/1/2011', freq='M', periods=3))
print(tseries4)
print("\n")

0    2020-01-01
1    2020-01-02
2    2020-01-03
3    2020-01-04
4    2020-01-05
5    2020-01-06
6    2020-01-07
7    2020-01-08
8    2020-01-09
9    2020-01-10
10   2020-01-11
11   2020-01-12
12   2020-01-13
13   2020-01-14
14   2020-01-15
15   2020-01-16
16   2020-01-17
17   2020-01-18
18   2020-01-19
19   2020-01-20
20   2020-01-21
21   2020-01-22
22   2020-01-23
23   2020-01-24
24   2020-01-25
25   2020-01-26
26   2020-01-27
27   2020-01-28
28   2020-01-29
29   2020-01-30
30   2020-01-31
31   2020-02-01
32   2020-02-02
33   2020-02-03
34   2020-02-04
35   2020-02-05
36   2020-02-06
37   2020-02-07
38   2020-02-08
39   2020-02-09
dtype: datetime64[ns]


0    2011-01
1    2011-02
2    2011-03
3    2011-04
4    2011-05
5    2011-06
6    2011-07
7    2011-08
8    2011-09
9    2011-10
dtype: period[M]


0         <DateOffset>
1    <2 * DateOffsets>
dtype: object


0   2011-01-31
1   2011-02-28
2   2011-03-31
dtype: datetime64[ns]

Missing data: Pandas represents null date times, time deltas, and time spans as NaT which is useful for representing missing or null date like values

In [32]:
#Represent Missing Data for dates, time deltas, and time spans
import datetime
import pandas as pd
 
missing1 = pd.Timestamp(pd.NaT)
print(missing1)
 
missing2 = pd.Timedelta(pd.NaT)
print(missing2)
 
missing3 = pd.Period(pd.NaT)
print(missing3)
 
 
#You cannot use equality for NaT
print(missing1 == pd.NaT)
print(missing1 == "NaT")

NaT
NaT
NaT
False
False

In [35]:
#Read in data lists
#Timestamp for Data List 
dates = [pd.Timestamp('2012-05-01'),
               pd.Timestamp('2012-05-02'),
               pd.Timestamp('2012-05-03')]
print(dates)
print("\n")

 #Use datetime and datetime index
dates2 = pd.to_datetime(['2018-01-05', '7/8/1952', 'Oct 10, 1995'])
dates3 = pd.DatetimeIndex(['2018-01-05', '1952-07-08', '1995-10-10'])
dates4 = pd.to_datetime(['22/01/10', '18/06/17', '15/12/12'], format='%d/%m/%y')
print(dates2)
print("\n")
print(dates3)
print("\n")
print(dates4)
print("\n")

#Use pandas dataframe - passing exact days, month, years and even hours
df = pd.DataFrame({ 'year': [2015, 2016],
                   'month': [2, 3],
                     'day': [4, 5],
                    'hour': [2, 3]})
dtime = pd.to_datetime(df)
print(dtime)
print("\n")
 
#Pass only the columns we need - Year, month, and day
dtime2 = pd.to_datetime(df[['year', 'month', 'day']])
print (dtime2)
print("\n")

[Timestamp('2012-05-01 00:00:00'), Timestamp('2012-05-02 00:00:00'), Timestamp('2012-05-03 00:00:00')]


DatetimeIndex(['2018-01-05', '1952-07-08', '1995-10-10'], dtype='datetime64[ns]', freq=None)


DatetimeIndex(['2018-01-05', '1952-07-08', '1995-10-10'], dtype='datetime64[ns]', freq=None)


DatetimeIndex(['2010-01-22', '2017-06-18', '2012-12-15'], dtype='datetime64[ns]', freq=None)


0   2015-02-04 02:00:00
1   2016-03-05 03:00:00
dtype: datetime64[ns]


0   2015-02-04
1   2016-03-05
dtype: datetime64[ns]

Data Cleansing for Missing Data
If it is categorical data, replace missing data with mode, while missing numeric data could either be replaced with mean or median. You have to specify what actions you have taken in the assignment report.

In [42]:
#https://www.dataquest.io/blog/tutorial-time-series-analysis-with-pandas/
#Load dataset
dataset = pd.read_csv('AirQualityUCI.csv', sep = ";", decimal = ",")
print('Number of records/rows is ', len(dataset))
print(dataset.head())
print("\n")
print("subset 0-14""\n",  dataset.iloc[ : , 0:14])  #select a subset of the data.Select all columns, from 0 -13 (excluding 14)
print("\n")
 
#A lot of missing data
#is a null value
print(dataset.isna().sum())
print("\n")
 
#not a null value
print(dataset.notnull().sum())
print("\n")

Number of records/rows is  9471
         Date      Time  CO(GT)  PT08.S1(CO)  NMHC(GT)  C6H6(GT)  \
0  10/03/2004  18.00.00     2.6       1360.0     150.0      11.9
1  10/03/2004  19.00.00     2.0       1292.0     112.0       9.4
2  10/03/2004  20.00.00     2.2       1402.0      88.0       9.0
3  10/03/2004  21.00.00     2.2       1376.0      80.0       9.2
4  10/03/2004  22.00.00     1.6       1272.0      51.0       6.5

   PT08.S2(NMHC)  NOx(GT)  PT08.S3(NOx)  NO2(GT)  PT08.S4(NO2)  PT08.S5(O3)  \
0         1046.0    166.0        1056.0    113.0        1692.0       1268.0
1          955.0    103.0        1174.0     92.0        1559.0        972.0
2          939.0    131.0        1140.0    114.0        1555.0       1074.0
3          948.0    172.0        1092.0    122.0        1584.0       1203.0
4          836.0    131.0        1205.0    116.0        1490.0       1110.0

      T    RH      AH  Unnamed: 15  Unnamed: 16
0  13.6  48.9  0.7578          NaN          NaN
1  13.3  47.7  0.7255          NaN          NaN
2  11.9  54.0  0.7502          NaN          NaN
3  11.0  60.0  0.7867          NaN          NaN
4  11.2  59.6  0.7888          NaN          NaN


subset 0-14
             Date      Time  CO(GT)  PT08.S1(CO)  NMHC(GT)  C6H6(GT)  \
0     10/03/2004  18.00.00     2.6       1360.0     150.0      11.9
1     10/03/2004  19.00.00     2.0       1292.0     112.0       9.4
2     10/03/2004  20.00.00     2.2       1402.0      88.0       9.0
3     10/03/2004  21.00.00     2.2       1376.0      80.0       9.2
4     10/03/2004  22.00.00     1.6       1272.0      51.0       6.5
...          ...       ...     ...          ...       ...       ...
9466         NaN       NaN     NaN          NaN       NaN       NaN
9467         NaN       NaN     NaN          NaN       NaN       NaN
9468         NaN       NaN     NaN          NaN       NaN       NaN
9469         NaN       NaN     NaN          NaN       NaN       NaN
9470         NaN       NaN     NaN          NaN       NaN       NaN

      PT08.S2(NMHC)  NOx(GT)  PT08.S3(NOx)  NO2(GT)  PT08.S4(NO2)  \
0            1046.0    166.0        1056.0    113.0        1692.0
1             955.0    103.0        1174.0     92.0        1559.0
2             939.0    131.0        1140.0    114.0        1555.0
3             948.0    172.0        1092.0    122.0        1584.0
4             836.0    131.0        1205.0    116.0        1490.0
...             ...      ...           ...      ...           ...
9466            NaN      NaN           NaN      NaN           NaN
9467            NaN      NaN           NaN      NaN           NaN
9468            NaN      NaN           NaN      NaN           NaN
9469            NaN      NaN           NaN      NaN           NaN
9470            NaN      NaN           NaN      NaN           NaN

      PT08.S5(O3)     T    RH
0          1268.0  13.6  48.9
1           972.0  13.3  47.7
2          1074.0  11.9  54.0
3          1203.0  11.0  60.0
4          1110.0  11.2  59.6
...           ...   ...   ...
9466          NaN   NaN   NaN
9467          NaN   NaN   NaN
9468          NaN   NaN   NaN
9469          NaN   NaN   NaN
9470          NaN   NaN   NaN

[9471 rows x 14 columns]


Date              114
Time              114
CO(GT)            114
PT08.S1(CO)       114
NMHC(GT)          114
C6H6(GT)          114
PT08.S2(NMHC)     114
NOx(GT)           114
PT08.S3(NOx)      114
NO2(GT)           114
PT08.S4(NO2)      114
PT08.S5(O3)       114
T                 114
RH                114
AH                114
Unnamed: 15      9471
Unnamed: 16      9471
dtype: int64


Date             9357
Time             9357
CO(GT)           9357
PT08.S1(CO)      9357
NMHC(GT)         9357
C6H6(GT)         9357
PT08.S2(NMHC)    9357
NOx(GT)          9357
PT08.S3(NOx)     9357
NO2(GT)          9357
PT08.S4(NO2)     9357
PT08.S5(O3)      9357
T                9357
RH               9357
AH               9357
Unnamed: 15         0
Unnamed: 16         0
dtype: int64

In [48]:
#Plot Time Series Graphs
#Covert the date data to datetime object
# We would like to investigate on how temperature changes with respect to time
#Column 0 - date; Column 11 - temperature
#https://www.dataquest.io/blog/tutorial-time-series-analysis-with-pandas/

#Load dataset and choose two columns - Date and Temperature, T
dataset = pd.read_csv('AirQualityUCIvs2.csv', sep = ";", decimal = ",", parse_dates=True)
dataslice = dataset[['Date','T']]
column1 = pd.to_datetime(dataset['Date'])
column2 = dataset['T']
print(dataslice)
print("\n")
 
dataslice2 = dataset.iloc[:, [0,12]]
print(dataslice2)
print("\n")

            Date     T
0     10/03/2004  13.6
1     10/03/2004  13.3
2     10/03/2004  11.9
3     10/03/2004  11.0
4     10/03/2004  11.2
...          ...   ...
9352  04/04/2005  21.9
9353  04/04/2005  24.3
9354  04/04/2005  26.9
9355  04/04/2005  28.3
9356  04/04/2005  28.5

[9357 rows x 2 columns]


            Date     T
0     10/03/2004  13.6
1     10/03/2004  13.3
2     10/03/2004  11.9
3     10/03/2004  11.0
4     10/03/2004  11.2
...          ...   ...
9352  04/04/2005  21.9
9353  04/04/2005  24.3
9354  04/04/2005  26.9
9355  04/04/2005  28.3
9356  04/04/2005  28.5

[9357 rows x 2 columns]

C:\Users\Solomon\AppData\Local\Temp\ipykernel_20824\875850327.py:10: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  column1 = pd.to_datetime(dataset['Date'])